@import-normalize;
@import './styles/settings';
@import './styles/mixins';

.page-container {
   @include center-flex;
   min-height: 100vh;
   background-color: $grey;
}

.container {
   padding: 1rem 1.5rem;
   width: 50%;
   background-color: $white;
   box-shadow: $box-shadow;

   @include small-only {
      width: 90%;
   }
}

.inner {
   display: flex;
   flex-wrap: wrap;

   & > * {
      flex-basis: 50%;
      max-width: 50%;
   }

   @include medium-down {
      & > * {
         flex-basis: 100%;
         max-width: 100%;
      }
   }
}

.progress {
   margin-bottom: 2.5rem;

   &.is-complete {
      h2::after {
         content: url('./assets/icons/ic-check-black.svg');
         margin-left: 0.5rem;
      }
   }

   h2 {
      font-size: 1.25rem;
   }

   h2 span {
      @include center-flex;
      display: inline-flex;
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
      border-radius: 50%;
      background-color: $black;
      color: $white;
      font-size: 1rem;
   }

   ul {
      @include reset-list;
   }
}
